<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shiffmancalendar"
    android:versionCode="3"
    android:versionName="1.2" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.shiffmancalendar.Launcher"
            android:label="Shiffman Calendar"
            android:icon="@drawable/icon_calendar_app">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.shiffmancalendar.DataEntryCalendar"
            android:label="SC EnterData"
            android:icon="@drawable/icon_calendar_app">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />

                <category android:name="android.intent.category.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.shiffmancalendar.Configuration"
            android:label="SC UserConfig"
            android:icon="@drawable/icon_config_user">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />

                <category android:name="android.intent.category.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.shiffmancalendar.ConfigureHolidays"
            android:label="SC HolidayConfig"
            android:icon="@drawable/icon_holiday_config" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />

                <category android:name="android.intent.category.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.shiffmancalendar.DataExport"
            android:label="SC ExportData"
            android:icon="@drawable/icon_export_data" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />

                <category android:name="android.intent.category.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.shiffmancalendar.SummarizeData"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />

                <category android:name="android.intent.category.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.shiffmancalendar.ApplyIDAndSession"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />

                <category android:name="android.intent.category.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.shiffmancalendar.DataEntryDatePhase1"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />

                <category android:name="android.intent.category.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.shiffmancalendar.DataEntryDatePhase2"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />

                <category android:name="android.intent.category.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.shiffmancalendar.DataEntryDatePhase3"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden|adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />

                <category android:name="android.intent.category.VIEW" />
            </intent-filter>
        </activity>
    </application>

</manifest>
